@inject NavigationManager NavigationManager

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/" />
        <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
        <link rel="stylesheet" href="@Assets["app.css"]" />
        <ImportMap />
        <HeadOutlet @rendermode="InteractiveWebAssembly" />
        <RadzenTheme @rendermode="InteractiveWebAssembly" Theme="material-dark" />
    </head>

    <body>
        <Routes @rendermode="InteractiveWebAssembly" />
        <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
        <script src="_framework/blazor.webassembly.js"></script>
        <script src="./js/layout.js"></script>
    </body>

</html>

@code {

}