@page "/login"
@implements IDisposable
@inject NavigationManager Navigation

<div>
    <AuthorizeView>
        <Authorized>
            <form action="authentication/logout" method="post" style="height: 100%; width: fit-content;">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <RadzenButton ButtonType="ButtonType.Submit" class="navlink" style="height: 100%; width: fit-content;" ButtonStyle="ButtonStyle.Base" Variant="Variant.Text" Size="ButtonSize.Small">
                    Logout
                </RadzenButton>
            </form>
        </Authorized>
        <NotAuthorized>
            <a href="authentication/login" style="height: 100%; width: 100%; width: fit-content;">
                <RadzenButton ButtonType="ButtonType.Submit" style="height: 100%; width: fit-content;" ButtonStyle="ButtonStyle.Base" Variant="Variant.Text" Size="ButtonSize.Small">
                    Login
                </RadzenButton>
            </a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = Navigation.Uri;
        Navigation.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = Navigation.Uri;
        StateHasChanged();
    }

    public void Dispose() => Navigation.LocationChanged -= OnLocationChanged;
}